@charset "uft-8";

article.formArea{
	width:960px;
	text-align: left;
	line-height: 1.8;
	overflow:hidden;
	margin:0 auto 80px auto;
	background-color:silver;
}
article.formArea div.container{
	width:640px;
	margin:0 auto;
	background-color: white;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea{
	width:100%;
	padding: 5px;
	box-sizing:border-box;
}